<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>一些偶然的问题</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h3>mounted 钩子的一些问题</h3>
	<p>	
		在项目中发现，mounted钩子的某些奇特之处，之前没有注意到。<br>
		我在mounted钩子中获取一个原生的DOM节点时候，（在this.$nextTick中）
		发现涉及到数据绑定的节点是无法获取到的，哪怕是在created获取的数据。
		其实，当我拿出数据来看的时候这个数据还没有获取到。。。。WTF? 此时如果你在获取的目标DOM上用v-if 判断是否渲染的时候。
		你想去拿到涉及数据的DOM是拿不到的。
	</p>
	<h3>触发vue视图更新的操作</h3>
	<p>
		vue中的变异方法 ==> push()
				pop()
				shift()
				unshift()
				splice()
				sort()
				reverse()
		f变异方法会改变原数组，可以触发视图的更新。
		filter(), concat(), slice() 。这些不会改变原始数组，但总是返回一个新数组。当使用非变异方法时，可以用新数组替换旧数组
		Vue 不能检测以下变动的数组：
			当你利用索引直接设置一个项时，例如： vm.items[indexOfItem] = newValue
			当你修改数组的长度时，例如： vm.items.length = newLength
		.解决
		.第一类问题
		// Vue.set
		Vue.set(example1.items, indexOfItem, newValue)
		// Array.prototype.splice`
		example1.items.splice(indexOfItem, 1, newValue)
		为了解决第二类问题，你也同样可以使用 splice：
		example1.items.splice(newLength)

	</p>
	<h3> vue2过滤器的问题</h3>
	<p>	
		创建返回过滤或排序数组的计算属性。
		例如：
		<li v-for="n in evenNumbers">{{ n }}</li>
		data: {
		  numbers: [ 1, 2, 3, 4, 5 ]
		},
		computed: {
		  evenNumbers: function () {
		    return this.numbers.filter(function (number) {
		      return number % 2 === 0
		    })
		  }
		}
		或者，你也可以在计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 使用 method 方法：
		<li v-for="n in even(numbers)">{{ n }}</li>
		data: {
		  numbers: [ 1, 2, 3, 4, 5 ]
		},
		methods: {
		  even: function (numbers) {
		    return numbers.filter(function (number) {
		      return number % 2 === 0
		    })
		  }
		}
	</p>
</body>
</html>
